@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* outline: 2px solid red; */
}

body{
    width: 100%;
    height: 100vh;
}

main{
    width: 50%;
    margin: 150px auto;
}

main h1{
    margin: 10px 0px;
}

input{
    width: 40%;
    padding: 8px;
    font-size: 1rem;
}
.submit-marks{
    padding: 10px 15px;
    font-size: 1rem;
    background-color: rgb(1, 112, 1);
    color: wheat;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}